<!----侧边栏导航---->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <li class="sidebar-brand">花啦</li>
    <li class="dropdown open">
      <a class="dropdown-toggle" (click)="openMenuChild(menu)">系统管理
        <span class="caret"></span>
      </a>
      <ul role="menu" class="dropdown-menu">
        <li class="dropdown-header">系统管理</li>
        <li>
          <a href="javascript:void(0);" [routerLink]="'/index/user-manager'">用户管理</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>