
#l-map {
    width:100%;
    overflow: hidden;
}
#result{
    width:100%;
}
li{
    line-height:28px;
}
.cityList{
    height: 320px;
    width:372px;
    overflow-y:auto;
}
.sel_container{
    z-index:9999;
    font-size:12px;
    position:absolute;
    right:0px;
    top:0px;
    width:140px;
    background:rgba(255,255,255,0.8);
    height:30px;
    line-height:30px;
    padding:5px;
}
.map_popup {
    position: absolute;
    z-index: 200000;
    width: 382px;
    height: 344px;
    right:0px;
    top:40px;
}
.map_popup .popup_main {
    background:#fff;
    border: 1px solid #8BA4D8;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.map_popup .title {
    background: url("http://map.baidu.com/img/popup_title.gif") repeat scroll 0 0 transparent;
    color: #6688CC;
    font-weight: bold;
    height: 24px;
    line-height: 25px;
    padding-left: 7px;
}
.map_popup button {
    background: url("http://map.baidu.com/img/popup_close.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 12px;
}
