<recruit-header [wriInfoStatus]="wriInfoStatus" [relativeSellerInfoStatus]="relativeSellerInfoStatus"
                [wriPublishTimeStatus]="wriPublishTimeStatus"></recruit-header>
<div class="slds-grid slds-wrap">
    <div class="slds-size--3-of-12"></div>
    <div class="slds-size--6-of-12 ">
        <ngl-form-element label="公司" class="slds-m-top--small">
            <select nglFormControl class="slds-select" [required]="required" [(ngModel)]="operaObj.companyId">
                <option [value]="c.id" *ngFor="let c of companyListData">{{c.companyName}}</option>
            </select>
        </ngl-form-element>
        <ngl-form-element label="岗位" class="slds-m-top--small">
            <select nglFormControl class="slds-select" [required]="required" [(ngModel)]="operaObj.jobId">
                <option [value]="j.id" *ngFor="let j of jobListData">{{j.jobName}}</option>
            </select>
        </ngl-form-element>
        <ngl-form-element label="薪资(元/月)" class="slds-m-top--small">
            <select nglFormControl class="slds-select" [required]="required" [(ngModel)]="operaObj.salary">
                <option value="2000以下">2000以下</option>
                <option value="2001~3000">2001~3000</option>
                <option value="3001~4500">3001~4500</option>
                <option value="4501~8000">4501~8000</option>
                <option value="8001~10000">8001~10000</option>
                <option value="10001~15000">10001~15000</option>
                <option value="15001~20000">15001~20000</option>
                <option value="面议">面议</option>
            </select>
        </ngl-form-element>
        <ngl-form-element label="计划招聘人数" class="slds-m-top--small">
            <input nglFormControl type="text" [required]="required" [(ngModel)]="operaObj.planNum">
        </ngl-form-element>
        <ngl-form-element label="联系人" class="slds-m-top--small">
            <input nglFormControl type="text" [required]="required" [(ngModel)]="operaObj.contacts">
        </ngl-form-element>
        <ngl-form-element label="联系电话" class="slds-m-top--small">
            <input nglFormControl type="text" [required]="required" [(ngModel)]="operaObj.contactsPhone">
        </ngl-form-element>
        <ngl-form-element label="工作地点" class="slds-m-top--small">
            <input nglFormControl type="text" [required]="required" [(ngModel)]="operaObj.jobAddress">
        </ngl-form-element>
        <ngl-form-element class="slds-m-top--small">
            <template nglFormLabel>岗位描述</template>
            <textarea nglFormControl [required]="required" [(ngModel)]="operaObj.jobDescription"></textarea>
        </ngl-form-element>
        <ngl-form-element class="slds-m-top--small">
            <template nglFormLabel>岗位职责</template>
            <textarea nglFormControl [required]="required" [(ngModel)]="operaObj.jobDuty"></textarea>
        </ngl-form-element>
        <ngl-form-element class="slds-m-top--small">
            <template nglFormLabel>任职要求</template>
            <textarea nglFormControl [required]="required" [(ngModel)]="operaObj.jobSkill"></textarea>
        </ngl-form-element>
        <div class="slds-size--1-of-1 slds-align--absolute-center">
            <a class="slds-button slds-button--neutral" routerLink="../../hng-recruit/">招聘列表</a>
            <button *ngIf="recruitId==0" class="slds-button slds-button--brand" (click)="saveData()">保存</button>
            <a *ngIf="recruitId!=0" class="slds-button slds-button--brand"
               [routerLink]="['../../recruit-seller/',recruitId]">下一步</a>
        </div>
    </div>
    <div class="slds-size--3-of-12"></div>
</div>

<!--Toast-->
<toast-component (notifyParam)="notifyParamFunction($event)" [toastType]="toast.toastType" [toastMessage]="toast.toastMessage"
                 [showAlert]="toast.showAlert"></toast-component>