<div class="slds-wrap slds-grid" style="margin-top: 20px;">
    <div class="slds-p-horizontal--small slds-large-size--4-of-12">
        <div class="slds-form-element">
            <label class="slds-form-element__label slds-float--left" style="line-height: 2rem">省份</label>
            <div class="slds-form-element__control slds-float--left slds-size--8-of-12">
                <div class="slds-select_container">
                    <select class="slds-select" >
                        <option [value]="0">招聘中</option>
                        <option [value]="1">未开始</option>
                        <option [value]="2">已结束</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-p-horizontal--small slds-large-size--4-of-12">
        <div class="slds-form-element">
            <label class="slds-form-element__label slds-float--left" style="line-height: 2rem">城市</label>
            <div class="slds-form-element__control slds-float--left slds-size--8-of-12">
                <div class="slds-select_container">
                    <select class="slds-select">
                        <option [value]="0">招聘中</option>
                        <option [value]="1">未开始</option>
                        <option [value]="2">已结束</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>